<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egor.pulse.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dota_pulse_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.egor.pulse.app.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.egor.pulse.app.schedule.MainActivity" />
        <activity android:name="com.egor.pulse.app.match.MatchTabActivity" />
    </application>

</manifest>
